.grid {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    height: 30em;
    display: block;
}

.header, .headerRow, .footer {
    overflow: hidden;
    background-color: #eee;
}

.headerRow {
    position: absolute;
    right: 17px;
    left: 0;
}
